<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Share Ur Book">
    <link rel="icon" href="./images/logo/favicon.png">
    <base href="/">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/html">
    <title>Share Ur Book</title>
</head>

<body>
    <a href="#content" class="link-skip" tabindex="0">Skip To Content?</a>
    <!-- navbar desktop -->
    <nav class="navbar">
        <a href="" class="logo-website"> <img src="./images/logo/logo-1.png" alt="logo web" width="120"></a>
        <div class="menu-website" id="menu-button" alt="logo button">
            <a href="#"><img src="./images/logo/button-nav.svg " alt="logo web" width="40px"></a>
        </div>
        <ul class="nav-list ">
            <li class="nav-items "><a href="#/home">HOME</a></li>
            <li class="nav-items "><a href="#/favorite">FAVORITE</a> </li>
            <li class="nav-items "><a href="#/Reviews">REVIEWS</a> </li>
        </ul>
    </nav>
    <!-- akhir navbar desktop -->
    <!-- navbar mobile -->
    <nav class="navbar-mobile">
        <ul class="nav-list-mobile">
            <li class="nav-items-mobile"><a href="#/home">HOME</a></li>
            <li class="nav-items-mobile"><a href="#/favorite">FAVORITE</a> </li>
            <li class="nav-items-mobile"><a href="#/Reviews">REVIEWS</a> </li>
        </ul>
    </nav>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js "></script>
</body>

</html>