<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Share Ur Book">
    <meta name="theme-color" content="#fff">
    <base href="/">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/html">
    <title>Share Ur Book</title>
</head>

<body>
    <a href="#main-content" class="link-skip" tabindex="0">Skip To Content?</a>
    <!-- navbar desktop -->
    <nav class="navbar-desktop">
        <a href="#/home" class="logo-website"> <img src="./images/logo/logo-1.png" alt="logo web" width="120"></a>
        <div class="menu-website" id="menu-button" alt="logo button">
            <a href="#"><img src="./images/logo/button-nav.svg " alt="logo web" width="40px"></a>
        </div>
        <ul class="nav-list">
            <li class="nav-items "><a href="#/home">HOME</a></li>
            <li class="nav-items "><a href="#/favorite">FAVORITE</a> </li>
            <li class="nav-items "><a href="#/Reviews">REVIEWS</a> </li>
            <li class="nav-items "><a href="#/aboutus">ABOUT US</a> </li>
        </ul>
    </nav>
    <!-- akhir navbar desktop -->

    <!-- navbar mobile -->
    <nav class="navbar-mobile-view">
        <ul class="nav-list-mobile">
            <li class="nav-items-mobile"><a href="#/home">HOME</a></li>
            <li class="nav-items-mobile"><a href="#/favorite">FAVORITE</a> </li>
            <li class="nav-items-mobile"><a href="#/Reviews">REVIEWS</a> </li>
            <li class="nav-items-mobile"><a href="#/aboutus">ABOUT US</a> </li>
        </ul>
    </nav>

    <main id="main-content" tabindex="0">

    </main>

    <div class="footer-container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
            <div class="col mb-3 logo-footer">
                <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <img src="./images/logo/favicon.png" alt="logo web" width="150px">
                </a>
                <p>SHARE UR BOOK 2022</p>
            </div>



            <div class="col mb-3 list-footer">
                <h5>SERVICE</h5>
                <ul class="nav flex-column list">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Favorite</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Reviews</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
                </ul>
            </div>

            <div class="col mb-3 list-footer">
                <h5>Section</h5>
                <ul class="nav flex-column list">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                </ul>
            </div>

            <div class="col mb-3 list-footer">
                <h5>CREDIT BY</h5>
                <ul class="nav flex-column list">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Dicoding</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">BuildWithAngga</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Figma</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Bootstrap</a></li>
                </ul>
            </div>
        </footer>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/idb@3.0.2/build/idb.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</html>