@media screen and (min-width: 600px) {
    #navbar {
        height: auto;
        position: relative;
        transform: translate(0, 0);
    }
    #hamburger {
        display: none;
    }
    nav {
        flex-direction: row !important;
    }
    nav ul {
        flex-direction: row !important;
        justify-content: space-between;
    }
    #navbar li {
        padding: 5px 0px;
    }
}